<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>nexus-snapshot</id>
      <username>ENC(akAvZKFCg6g8DtRaU6hbikk1lQHo4YDdXiTzqF0MAyJHzQDoNky0zCEWwGfsBGtc)</username>
      <password>ENC(CPaY/XAEWJb6evKSN011o/8ntmZ/kSeh21QH6i5LH3nQwxdS8fHA0+2U3qi0R/5j)</password>
    </server>
    <server>
      <id>nexus-dependencies</id>
      <username>admin</username>
      <password>oGkLKlSLP</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://172.18.0.4:8081/repository/maven-public/</url>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>snapshot</id>
      <repositories>
        <repository>
          <id>nexus-snapshot</id>
          <name>Maven Snapshot</name>
          <url>http://172.18.0.4:8081/repository/maven-snapshots/</url>
        </repository>
      </repositories>
    </profile>
    <profile>
      <id>libs</id>
      <repositories>
        <repository>
          <id>nexus-libraries</id>
          <name>Maven Third Party Libraries</name>
          <url>http://172.18.0.4:8081/repository/third-party-libs/</url>
        </repository>
      </repositories>
    </profile>
    <profile>
      <id>mavencentral</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://repo.maven.apache.org/maven2/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>https://repo.maven.apache.org/maven2/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>snapshot</activeProfile>
    <activeProfile>libs</activeProfile>
    <activeProfile>mavencentral</activeProfile>
  </activeProfiles>
</settings>
